@using Microsoft.AspNetCore.Identity;
@using ListaTareas.Models.Users;

@inject SignInManager<IdentityUser> signInManager;
@inject UserManager<IdentityUser> userManager;

@if (signInManager.IsSignedIn(User))
{
    var currentUser = await userManager.GetUserAsync(User);

    var isAdmin = currentUser != null && await userManager.IsInRoleAsync(currentUser, Constants.AdministradorRole);

    if (isAdmin)
    {
        <ul class="navbar-nav">
            <li class="nav-item mt-2">
                <a class="nav-link" asp-controller="ManageUser" asp-action="Index">Users administration</a>
            </li>
        </ul>    
    }
}
