<div class="col">
    <form class="mt-3" asp-action="Index" method="get">
        <input class="rounded p-1" type="text" name="searchString" placeholder=" Palabra clave"/>
        <input class="btn btn-secondary" type="submit" value="Filtrar" />
        <a asp-action="Index" class="btn btn-dark">Ver lista completa</a>
    </form>
</div>