
<div class="row">
    <div class="col">
        <form asp-action="Index" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Keyword" name="searchString">
                <div class="input-group-btn">
                    <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-auto">
        <a asp-action="Index" class="btn btn-secondary">Full list</a>
    </div>
</div>