@model ListaTareas.Models.Todo.Todo;

@{
    ViewData["Title"] = "Agregar tarea";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <hr />
        <form asp-action="AddItem" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label fw-bold">Titulo</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label asp-for="CreatedAt" class="control-label fw-bold">Fecha de finalización</label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Guardar" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-5">
    <a asp-action="Index" class="btn btn-dark">
        <i class="bi bi-box-arrow-in-left"></i>
        Volver a la lista
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
