@model IPagedList<ListaTareas.Models.Todo.Todo>;
@using Humanizer;
@using X.PagedList;

@{
    ViewData["Title"] = "Maneja tu lista de tareas";
}


<div class="container">
    <div class="row p-1">
        <div class="col">
            <a asp-action="Create" class="btn btn-dark">
                Agregar tarea
                <i class="bi bi-journal-check"></i>
            </a>
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_SearchPartial");
    }
</div>

<table class="table table-hover mt-1">
    <thead class="table-dark">
        <tr>
            <th>&#x2714;</th>
            <th>Tarea</th>
            <th>Vencimiento</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody class="bg-light">
        @foreach (var tarea in Model)
        {
            <tr>
                <td>
                    <form asp-action="MarkDone" method="post">
                        <label class="custom-checkbox">
                            <input type="checkbox" class="done-checkbox" />
                            <span></span>
                        </label>
                        <input type="hidden" name="id" value="@tarea.Id" />
                    </form>
                </td>
                <td>@tarea.Title</td>
                <td>@tarea.CreatedAt.Humanize()</td>
                <td>
                    <a asp-controller="Todo"
                       asp-action="Details"
                       asp-route-id="@tarea.Id">
                        <svg width="25" height="25" fill="gray" class="bi bi-journal-text" viewBox="0 0 16 16">
                            <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
                            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    await Html.RenderPartialAsync("PaginationPartial", Model);
}

